.body{
    background-color: #eee;
}
.imgs{
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.imgs:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transform: translateY(-10px);
}
